<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot Thymeleaf Application - Bootstrap Select Option</title>
	<link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>

<body>

<div class="container">
  <h2>Your Favorite location's weather list...</h2>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Time Zone</th>
        <th>Summary</th>
        <th>Temperature</th>
      </tr>
    </thead>
    <tbody>
    
    <tr th:each="location, rowStat: ${weatherList}"
      th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
        
    	<td th:text="${location.timezone}">Jack</td>
        <td th:text="${location.currently.summary}">23</td>
        <td th:text="${location.currently.temperature}">AVE N</td>
        
    </tr>
    
    </tbody>
  </table>
</div>

</body>